@import "../Site.css";

.el-carousel {
    width: 100%;
    margin: 0 auto;
}
.el-carousel__item.is-active{
    box-shadow: 0 0 5px lightgray;
}

.carousel-item-content {
    width: 100%;
    height: 100%;
    display: flex;
    background: white;
    align-items: center;
}
.carousel-item-content .book-item-cover {
    width: 30%;
    height: 92%;
    padding: 4%;
}

.carousel-item-content .book-item-info {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20%;
    font-size: 1.4em;
    font-family: 宋体, serif;
    margin-right: 5%;
}

.shadow {
    width: 100%;
    height: 230px;
    background: #fffcf3;
    /*background: url("../assets/img_1.png") no-repeat;*/
    background-size: cover;
    padding: 20px 0;
}

.el-col {
    border-radius: 4px;
}

.grid-content {
    border-radius: 4px;
    min-height: 36px;
    display: flex;
    flex-direction: row;
}

.grid-content .el-image {
    width: 100px;
    height: 100px;
}

.grid-content .grid-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-left: 20px;
}

.grid-bottom-bar {
    width: 94%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3%;
    align-items: center;
    margin-top: 10px;
    color: rgba(0, 150, 136, 1);
    background: rgba(255, 163, 70, 1);
    border-radius: 2px;
}
.grid-bottom-bar .el-button{
    color: white;
}
.sort-title {
    font-family: 宋体;
    font-size: 1.4em;
}
.grid-item-info span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.grid-item-info div{
    height: 60px;
    overflow: hidden;
    color: #e86e25;
}